@using EShop.Models
@model IEnumerable<Products>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}
<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product List</h2>
    </div>
    <div class="col-6 float-end">
        <a asp-action="Create" class="btn btn-info">&nbsp; New Product</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(expression:c=>c.Name)
            </th>
            <th>
                @Html.DisplayNameFor(expression:c=>c.Price)
            </th>
            <th>
                @Html.DisplayNameFor(expression:c=>c.ProductColor)
            </th>
            <th>
                @Html.DisplayNameFor(expression:c=>c.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(expression:c=>c.ProductTypeId)
            </th>
            
        </tr>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.ProductColor</td>
                    <td>@item.IsAvailable</td>
                    <td>@item.ProductTypes.ProductType</td>
                    <td>
                        <partial name="_ButtonPartial" model="@item.Id"/>
                    </td>
                </tr>
        }
    </table>
</div>